<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/app_assets/images/favicon.png" />
    <title>Jobick Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="stylesheet" type="text/css" href="/app_assets/css/bootstrap.min.css"><!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="/app_assets/css/font-awesome.min.css"><!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="/app_assets/css/feather.css"><!-- FEATHER ICON SHEET -->
    <link rel="stylesheet" type="text/css" href="/app_assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/app_assets/css/magnific-popup.min.css"><!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="/app_assets/css/lc_lightbox.css"><!-- Lc light box popup -->
    <link rel="stylesheet" type="text/css" href="/app_assets/css/bootstrap-select.min.css"><!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="/app_assets/css/dataTables.bootstrap5.min.css"><!-- DATA table STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="/app_assets/css/select.bootstrap5.min.css"><!-- DASHBOARD select bootstrap  STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="/app_assets/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/app_assets/css/scrollbar.css"><!-- CUSTOM SCROLL BAR STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="/app_assets/css/datepicker.css"><!-- DATEPICKER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="/app_assets/css/flaticon.css"> <!-- Flaticon -->
    <link rel="stylesheet" type="text/css" href="/app_assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/app_assets/css/style.css"><!-- MAIN STYLE SHEET -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <style>
        /* Custom CSS class for Toastr notifications */
        .success-custom-toast {
            width: 500px !important;
            height: auto !important;
            background-color: green !important;
            margin-bottom: 20px !important;
            font-size: 18px !important;

        }

        .error-custom-toast {
            width: 500px !important;
            height: auto !important;
            background-color: red !important;
            margin-bottom: 20px !important;
            font-size: 18px !important;

        }
        .site-bg-primary {
            background-color: white !important;
        }
        .job-categories-home-5 {
            padding: 25px;
            background-color: #fff !important;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            position: relative;
            z-index: 1;
            overflow: hidden;
            text-align: center;
            transition: 0.5s all ease;
        }
        .twm-jobs-grid-h5-section {
            background-color: #fff !important;
            background-size: contain;
            border-radius: 40px;
            padding: 70px 100px;
        }
</style>
</head>
