<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://jobick.dexignlab.com/xhtml/social-image.png" />
    <meta name="format-detection" content="telephone=no">
    <title>Jobick Job Admin</title>
  
    <link rel="shortcut icon" type="image/png" href="/db_assets/images/favicon.png" />
    <link href="/db_assets/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="/db_assets/css/style.css" rel="stylesheet">
    <link href="/db_assets/richtexteditor/rte_theme_default.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">


    <style>
        .rounded-circle {
            border-radius: 5% !important;
        }
        table.dataTable.display tbody tr.odd {
            border:3px solid #f9f9f9 !important;
        }

        /* Custom CSS class for Toastr notifications */
        .success-custom-toast {
            width: 500px !important;
            height: auto !important;
            background-color: green !important;
            margin-bottom: 20px !important;
            font-size: 18px !important;
        }

        .error-custom-toast {
            width: 500px !important;
            height: auto !important;
            background-color: red !important;
            margin-bottom: 20px !important;
            font-size: 18px !important;
        }
        .dlab-demo-panel {
            display: none;
        }
    </style>

</head>